<div class="blog-navigation">
  <h3><a href="/blog.html" class="footer-blog-title">Latest Blog Posts</a></h3>
  <div class="footer-blog-post">
      <a href="/02-blog-a-fail2ban-quick-guide.html" class="footer-blog-post-title">Is the door now closed?</a>
      <div class="footer-blog-post-date">2025-08-23</div>
      <div class="footer-blog-post-summary">A short guide and a cheatsheet about the usage of fail2ban on Linux</div>
    </div>
<div class="footer-blog-post">
      <a href="/01-blog-a-new-starting-after-holidays.html" class="footer-blog-post-title">A new start after holidays</a>
      <div class="footer-blog-post-date">2025-08-18</div>
      <div class="footer-blog-post-summary">Today I'm back from two weeks of holidays with new ideas, goals, and good intentions. This is a quick first post after refactoring the website to support markdown-driven pages.</div>
    </div>
</div>